<h1>Welcome to Adventures!</h1>
<p>We hope you enjoy adventuring with us!</p>

<p>
	<%= link_to 'New Activity', new_activity_path %>
	<a href="/activities">Activities</a>
	<a href="/states">States</a>
	<a href="/about">About</a>
</p>